<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat page</title>
</head>
<body>
    <h1>Write New Chat</h1>
    <form method="POST", action="/">
        <input placeholder="Enter your Name" name="from"><br>
        <textarea name="msg">Write to new chat</textarea><br>
        <input placeholder="Reciver Name " name="to"><br>
        <button>Submit</button>
    </form>
</body>
</html>